body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    background-color: #3c424a;
    border-radius: 5px;
    border: none;

    .header {
        margin-bottom: 50px;
    }

    .App_heading {
        font-weight: 300;
        font-size: 4.5rem;
        color: #cccdce;

        &.center { text-align: center; }
    }

    .App_copy {
        font-weight: 300;
        font-size: 1.3rem;   
        color: #cccdce;
    }

    .App_button_primary {
        all: unset;
        color: #666;
        background-color: cornflowerblue;
        color: #fff;
        padding: 5px 10px;
        border-radius: 2px;
        cursor: pointer;

        &:first-of-type {
            margin-right: 10px;
        }

        &:hover { 
            background-color: darken(cornflowerblue, 20%); 
            color: #545454; 
        }
    }

    .App_button_danger {
        all: unset;
        // background-color: #d6d5d4;
        background-color: indianred;
        color: #fff;
        padding: 5px 10px;
        border-radius: 2px;
        cursor: pointer;

        &:first-of-type {
            margin-right: 10px;
        }

        &:hover { 
            background-color: darken(indianred, 20%);; 
            color: #545454; 
        }
    }
}