.App_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f4f3f2;
    border-radius: 3px;
    background-color: #fdfbf8;
    width: 49%;
    margin: 6px 0;

    .App_card_main {
        padding: 20px 30px;
        box-sizing: border-box;

        .App_card_heading {
            padding-bottom: 20px; 
            text-transform: capitalize;
        }

        .App_card_subheading {
            display: block;
            font-size: 55%;
            color: #666;
        }

        .App_card_copy {
            font-weight: 300;
        }            
    }

    .App_card_extra {
        padding: 7px 30px;
        box-sizing: border-box;
        background-color: #f4f3f2;
    }
}