.App_form {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-self: center;

    .App_input {
        border: none;
        width: 70%;
        border: 1px solid #2e3238;
        border-radius: 2px;
        outline: none;
        background-color: #343a40;

        $vendors: 'webkit' 'moz' 'ms';
        @each $vendor in $vendors {
            &::-#{$vendor}-input-placeholder {
                color: #484f59;
                padding-left: 20px;
            }
        }
    }

    .App_form_button {
        all: unset;
        background-color: #6b798c;
        color: #c0cee2;
        font-family: 'Lato', sans-serif;
        padding: 5px 10px;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: cornflowerblue;}
    }
}