.App_list {
    width: 500px;
    padding: 0;
    margin: 20px auto;
    list-style: none;

    $vendors: 'webkit' 'moz' 'ms';

    @each $vendor in $vendors {
        &_item {
            display: -#{$vendor}-flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            border-radius: 2px; 

            & i { 
                cursor: pointer; 
                color: #555;
            }
        }
    }
}
