$vendors: 'webkit' 'moz' 'ms' 'o';

.App_list {
    width: 500px;
    padding: 0;
    margin: 20px auto;
    list-style: none;

    &_item { 
        color: #a4acb9;
        position: relative;

        .rotate-left { transform: rotate(-45deg); }

        .main {
            @each $vendor in $vendors {
                display: -#{$vendor}-flex;
                display: flex;
            }

            justify-content: space-between;
            align-items: center;
            height: 40px;
            border-radius: 2px; 
            transition: all 0.5s ease-in-out; 
            color: #727983;
            
            & i { 
                cursor: pointer; 
            }

            &:hover { 
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(58,64,71,1) 50%, rgba(255,255,255,0) 100%);
            }

            .menu {
                display: inherit;
                justify-content: space-between;
                /*background-color: red;*/
                width: 100px;
            }
        }

        .dark { background-color: #343a40; height: 1px; }
        .light { background-color: #484f59; height: 1px; }
    }
}



