.App_list {
    /*width: 500px;*/
    padding: 0;
    margin: 20px 0;
    list-style: none;

    .App_list_item {
        /*padding: 5px 10px;*/
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin: 0 10px;
        cursor: pointer;

        background-color: cornflowerblue;
        border-radius: 2px; 
        color: #fff;
    }

    .App_list_item_icons {
        width: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        .App_list_item_icons i {
            line-height: 26px;
            cursor: pointer;
        }
    }
}
